@-webkit-keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader,
.loader:after {
    border-radius: 50%;
    display: none;
    height: 10em;
    width: 10em;
}

.loader {
    animation: load8 1.1s infinite linear;
    border: 1.1em solid rgba(121, 197, 239, .38);
    border-left: 1.1em solid #eff6fc;
    font-size: 10px;
    left: calc(50% - 5em);
    position: absolute;
    top: calc(50% - 5em);
}

.visible {
    display: block;
}
